<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Chocolate HTML Demo Page</title>
        <link href="../styles/chocolate.css" rel="stylesheet" />
        <script src="../scripts/jquery-1.8.2.min.js"></script>
        <script src="../scripts/jquery-ui-1.8.24.custom.min.js"></script>
        <script src="../scripts/prototypes.js"></script>
        <script src="../scripts/chocolate.js"></script>
        <script>
            $(document).ready(function () {
                if (chocolate) {
                    chocolate.displayStart(true);
                }
            });
        </script>
    </head>
    <body>
        <div id="header">
            <span style="display: block; font-size: 2.5em;">Samples</span>
            <span style="display: block; font-size: 0.8em;">With the Chocolate Framework you can create .NET/Mono applications using HTML5 & CSS3.</span>
            <span style="display: block; font-size: 0.8em;">Click the tiles to view the samples.</span>
        </div>
        <div id="content" style="width: 1000px; opacity:0;">
            <ul>
                <li class="square tile" style="background-color: lightblue;" onclick="chocolate.navigate('http://html5test.com/','dimgrey');">
                    <img src="../media/html5.png" style="width:100px; height:100px; margin: 25px;" alt="HTML5"  />    
                </li>
                <li class="square tile" onclick="chocolate.navigate('youtube.html');">
                    <img src="../media/youtube.png" alt="Youtube"  />    
                </li>
                <li class="wide tile" onclick="chocolate.navigate('http://carvisualizer.plus360degrees.com/threejs/');">
                    <div style="width:304px; height:150px;">
                        <img src="../media/webgl.png" alt="WebGL" style="display: inline;"  />    
                    </div>
                </li>
                <li class="square tile">
                    <img src="../media/pin.png" alt="Geolocation"  />    
                </li>
                <li class="square tile">
                    <img src="../media/pin.png" alt="Geolocation"  />    
                </li>
                <li class="wide tile">
                    <img src="../media/pin.png" alt="Geolocation"  />    
                </li>
                <li class="wide tile">
                    <img src="../media/pin.png" alt="Geolocation"  />    
                </li>
                <li class="square tile">
                    <img src="../media/pin.png" alt="Geolocation"  />    
                </li>
                <li class="square tile">
                    <img src="../media/pin.png" alt="Geolocation"  />    
                </li>
                <li class="square tile">
                    <img src="../media/pin.png" alt="Geolocation"  />    
                </li>
                <li class="square tile">
                    <img src="../media/pin.png" alt="Geolocation"  />    
                </li>
                <li class="wide tile">
                    <img src="../media/pin.png" alt="Geolocation"  />    
                </li>
                <li class="wide tile">
                    <img src="../media/pin.png" alt="Geolocation"  />    
                </li>
            </ul>
        </div>
        <iframe id="navFrame" sandbox="allow-top-navigation allow-scripts allow-forms allow-same-origin" >
        </iframe>
        <div id="navBar">
            <a href="#" onclick="chocolate.goBack();">
                click me
            </a>
        </div>
    </body>
</html>