<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Embed Youtube</title>
    <link href="../styles/chocolate.css" rel="stylesheet" />
</head>
    <body>
        <div id="header">
            Embed WebM video directly into the application     
        </div>
        <iframe style="border: 1px solid grey; float: right; margin-right: 50px;" width="560" height="315" src="http://www.youtube.com/embed/24L6d9GoEQA"></iframe>
    </body>
</html>