<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Video</title>
        <link href="../Styles/index.css" rel="stylesheet" />
    </head>
    <body>
        <div id="content" >
            <video id="bunny" width="853" height="480"
                   src="http://ie.microsoft.com/testdrive/graphics/videoformatsupport/big_buck_bunny_trailer_480p.webm" 
                   preload="metadata"></video>
            <div style="position: absolute; bottom: 20px; right:20px;">
                <button onclick="player.play();">Play</button>
                <button onclick="player.pause();">Pause</button>
                <button onclick="player.stop();">Stop</button>                
            </div>
        </div>
    </body>
</html>