<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Video</title>
        <link href="../Styles/index.css" rel="stylesheet" />
    </head>
    <body>
        <div id="header">
            <div style="padding: 7px 0px 0px 20px;">
                <span>Video</span>
            </div>
        </div>
        <div id="content" >
            <video src="http://ie.microsoft.com/testdrive/graphics/videoformatsupport/big_buck_bunny_trailer_480p.webm" controls="" preload="metadata"></video>
        </div>
        <div id="footer">
        </div>
    </body>
</html>