<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Commands</title>
        <link href="../Styles/index.css" rel="stylesheet" />
        <script src="../Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script>
            // sanity check
            if (!commands) {
                throw 'Commands not registered.';
            }

            // define sample object

            function Sample(window) {
                this.window = window;
                this.value = 0;
                this.increment = function() {
                    this.value = window.commands.increment(this.value);
                    $('#counter').text(this.value);
                };
                this.incrementAsync = function() {
                    var callback = function(value) {
                        window.sample.value = value;
                        $('#counter').text(value);
                    };
                    var begin = function() {
                        $('#asyncButton').attr("disabled", "true");
                    };
                    var end = function() {
                        $('#asyncButton').removeAttr("disabled");
                    };
                    window.commands.incrementAsync(begin, callback, end, this.value);
                };
            }

            // extend the window object
            var sample = new Sample(this);
        </script>
    </head>
    <body>
        <div id="header">
            <div style="padding: 7px 0px 0px 20px;">
                <span>Commands</span>
            </div>
        </div>
        <div id="content" >
            <div style="float: left; max-width: 50%;">
                <div style="margin-top: 40px; position: relative;">
                    <span>
                        Increment the counter by one using a synchronous command.
                    </span>
                    <button onclick="sample.increment();">+1</button>
                </div>
                <div style="margin-top: 40px; position: relative;">
                    <span>
                        Increment the counter by 100. <br/> 
                        This call will spawn a new managed thread and make callbacks into the javascript runtime every 15ms.
                    </span>
                    <button id="asyncButton" onclick="sample.incrementAsync();">+100</button>
                </div>
            </div>
            <div style="float: right; max-width: 50%;">
                <span id="counter" style="font-size: 11em;">0</span>
            </div>
        </div>
        <div id="footer">
        </div>
    </body>
</html>