* {
    padding: 0;
    margin: 0;
    border: 0;
    color: whitesmoke;
}

body {
    background-color: #252525;
}

input {
    font-family: 'Segoe UI';
    border: 1px solid dodgerblue;
    height: 30px;
    width: 250px;
    margin: 5px;
    background-color: #555;
    font-size: 1.2em;
    padding: 0px 4px;
}