<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Commands</title>
    <link href="../Styles/index.css" rel="stylesheet" />
    <script src="../Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
</head>
<body>
    <div>
        <div id="nativearea" class="contextarea">
            <span>Native</span>
        </div>
        <div id="customarea" class="contextarea">
            <span>Native Custom</span>
        </div>
        <div id="html5area" class="contextarea">
            <span>HTML5</span>
        </div>
    </div>
</body>
</html>
