* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Segoe UI';
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-image: url(../media/background.png);
}

header {
    font-size: 2.5em;
    color: white;
    padding: 30px 0px 0px 30px;
}

section {
    color: white;
    padding: 30px 0px 0px 30px;
}

.tile {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.wide-tile {
    width: 300px;
    height: 150px;
    display: inline-block;
}

.tint-image {
    position: relative;
}
.tint-image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.tint-image-overlay:hover {
    display: block;
}