<html>
    <head>
        <title>Chocolate Windows Demo Application</title>
    </head>
    <body>
        <div class="header">
            Start
        </div>
        <div>
            This is a demo view
        </div>
    </body>
</html>