@inherits Crystalbyte.Chocolate.Razor.RazorTemplateBase
              
@using Crystalbyte.Chocolate
@using Crystalbyte.Chocolate.Models
@using Crystalbyte.Chocolate.Razor.Markup

              
@{
    var model = (DesktopModel) Context; 
}

<html>
    <head>
        <title>Chocolate Windows Demo Application</title>
        @Style.Link("Styles/metro.css")
    </head>
    <body>
        <div class="header">
            start
        </div>
        <span>
            @model.WelcomeText
        </span>
        <iframe width="640" height="360" src="http://www.youtube.com/embed/YJZxDYHBSqU?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
    </body>
</html>