* {
    padding: 0;
    margin: 0;
    border: 0;
    color: whitesmoke;
}

body {
    font-family: 'Segoe UI';
    font-size: 1em;
    background-color: #252525;
}

.contextarea {
    border: 3px dashed gray;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: inline-block;
}

span {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}