* {
    padding: 0;
    margin: 0;
    border: 0;
    color: whitesmoke;
}

body {
    font-family: 'Segoe UI';
    font-size: 1em;
    background-color: #252525;
}

button {
    padding: 3px;
    margin-top: 5px;
    width: 70px;
    background-color: #353535;
    border: 1px solid #007ACC;
}

    button:hover {
        background-color: #454545;
    }

    button:active {
        background-color: #007ACC;
        border: 1px solid #454545;
    }

    button[disabled] {
        border: 1px solid #858585;
        background-color: #454545;
        color: #858585;
    }
